<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <MEM_Settings_General>事件设置</MEM_Settings_General>
  <EventActive>启用?</EventActive>

  <General_Title>全局设定</General_Title>
  <General_Desc>全局设定</General_Desc>
  <UseNewMapSizes_title>启用附加的世界尺寸</UseNewMapSizes_title>
  <UseNewMapSizes>启用附加的世界尺寸(需要重启游戏)</UseNewMapSizes>

  <MinParts_title>最小残骸数量</MinParts_title>
  <MinParts>一次事件散布在定居点周围生成的最小残骸个数</MinParts>
  <MaxParts_title>最大残骸数量</MaxParts_title>
  <MaxParts>一次事件散布在定居点周围生成的最大残骸个数</MaxParts>
  <ShipCargo_Mining_MinSupply_title>矿物箱最小个数</ShipCargo_Mining_MinSupply_title>
  <ShipCargo_Mining_MinSupply>生成矿物箱的最小个数</ShipCargo_Mining_MinSupply>
  <ShipCargo_Mining_MaxSupply_title>矿物箱最大个数</ShipCargo_Mining_MaxSupply_title>
  <ShipCargo_Mining_MaxSupply>生成矿物箱的最大个数</ShipCargo_Mining_MaxSupply>
  <ShipCargo_Food_MinSupply_title>食物箱最小个数</ShipCargo_Food_MinSupply_title>
  <ShipCargo_Food_MinSupply>生成食物箱的最小个数</ShipCargo_Food_MinSupply>
  <ShipCargo_Food_MaxSupply_title>食物箱最大个数</ShipCargo_Food_MaxSupply_title>
  <ShipCargo_Food_MaxSupply>生成食物箱的最大个数</ShipCargo_Food_MaxSupply>
  <ShipCargo_Complex_MinSupply_title>建材箱最小个数</ShipCargo_Complex_MinSupply_title>
  <ShipCargo_Complex_MinSupply>生成食物箱的最小个数</ShipCargo_Complex_MinSupply>
  <ShipCargo_Complex_MaxSupply_title>建材箱最大个数</ShipCargo_Complex_MaxSupply_title>
  <ShipCargo_Complex_MaxSupply>生成食物箱的最大个数</ShipCargo_Complex_MaxSupply>
  <ShipCargo_Armory_MinSupply_title>武器衣服箱最小个数</ShipCargo_Armory_MinSupply_title>
  <ShipCargo_Armory_MinSupply>生成该种箱子的最小个数</ShipCargo_Armory_MinSupply>
  <ShipCargo_Armory_MaxSupply_title>武器衣服箱最大个数</ShipCargo_Armory_MaxSupply_title>
  <ShipCargo_Armory_MaxSupply>生成该种箱子的最大个数</ShipCargo_Armory_MaxSupply>
  <ShipCargo_Living_MinSupply_title>人物箱最小个数</ShipCargo_Living_MinSupply_title>
  <ShipCargo_Living_MinSupply>生成该种箱子的最小个数</ShipCargo_Living_MinSupply>
  <ShipCargo_Living_MaxSupply_title>人物箱最大个数</ShipCargo_Living_MaxSupply_title>
  <ShipCargo_Living_MaxSupply>生成该种箱子的最大个数</ShipCargo_Living_MaxSupply>

  <EnablePositive_title>启用正星座(1 - 启用, 0 - 禁用)</EnablePositive_title>
  <EnablePositive>启用正能量星座(1 - 启用, 0 - 禁用)</EnablePositive>
  <EnableNegative_title>启用负星座(1 - 启用, 0 - 禁用)</EnableNegative_title>
  <EnableNegative>启用负能量星座(1 - 启用, 0 - 禁用)</EnableNegative>

  <RaidEnemyWithAnimals_Title>敌方动物袭击</RaidEnemyWithAnimals_Title>
  <RaidEnemyWithAnimals_Desc>敌方动物袭击</RaidEnemyWithAnimals_Desc>

  <DoMapChange_title>逐步改变沙漠的生物群(1或0)</DoMapChange_title>
  <DoMapChange>若选择1，则每过几天将改变随机小格沙漠中的生物群</DoMapChange>

  <Temperature_title>温度</Temperature_title>
  <Temperature>温度</Temperature>

</LanguageData>